*
{
  color: #8d9aa5;
  font-family: 'verdana';
  font-size: 12px;
}

#c_top_bar
{
  border-bottom: 1px solid #ecf0f1;
  margin: 0;
  background-color: #fdfdfd;
}

#top_bar, #second_top_bar
{
  width: 90%;
  margin: 0 auto;
  font-size: 11px;
  padding: 10px 0 10px 0;
}

#top_bar ul
{
  margin: 0;
  padding: 0;
}

#top_bar ul li
{
  list-style-type: none;
  display: inline;
  padding: 0;
  margin-top: 0;
  margin-right: 15px;
}

#top_bar a
{
  color: #78899b;
  text-transform: uppercase;
}

#top_bar a:hover
{
  color: #01c6d9;
  text-decoration: none;
}

#data_top_bar
{
  text-transform: uppercase;
  color: #78899b;
  text-align: right;
}

#second_top_bar_logo
{
  width: 100%;
}

#publicidade_top_bar
{
  background-color: #990000;
  width: 100%;
  height: 100%;
}

#nav_menu_principal
{
  width: 100%;
  background-color: #3d566e;
  border-bottom: 3px solid #0099ff;
}

#menu_principal
{
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  padding: 10px 0 10px 0; 
  text-align: justify;
}

#menu_principal ul
{
  margin: 0;
  padding: 0;
}

#menu_principal ul li
{
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0 15px 0 0;
}

#menu_principal a
{
  color: #ffffff;
  text-transform: uppercase;
}

#menu_principal a:hover
{
  color: #0099ff;
  text-decoration: none;
}

#menu_principal_chama_pesquisa
{
  background-color: #0099ff;
  border: 0;
  margin-top: -18px;
  margin-bottom: -15px;
  padding-top: 18px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

#barra_pesquisa
{
  background-color: #0099ff;
  height: 44px;
}

#input_pesquisa
{
  width: 90%;
  margin: 0 auto;
  padding-top: 4px;
}

#input_pesquisa input
{
  background-color: #0099ff;
  color: #ffffff;
  border: 0;
  border-bottom: 2px solid #dedede;
  box-shadow: 0;
  border-radius: 0;
}

#input_pesquisa input:focus {
  background-color: #0099ff;
  color: #ffffff;
  border: 0;
  border-bottom: 2px solid #dedede;
  box-shadow: 0;
  border-radius: 0;
}

#input_pesquisa input::-webkit-input-placeholder 
{ 
  /* Chrome/Opera/Safari */
  color: #cccccc;
}

#input_pesquisa input::-moz-placeholder 
{ 
  /* Firefox 19+ */
  color: #cccccc;
}

#input_pesquisa input:-ms-input-placeholder 
{ 
  /* IE 10+ */
  color: #cccccc;
}
#input_pesquisa input:-moz-placeholder 
{ 
  /* Firefox 18- */
  color: #cccccc;
}

#home_destaques
{
  width: 90%;
  max-height: 537px;
  margin: 10px auto;
  padding: 0;
}

#carousel_destaques
{
  height: 357px;
  width: 100%;
}

.crousel-p
{
  color: #efefef;
  font-size: 15px;
  text-transform: uppercase;
}

#publicidade_destaque_home
{
  background-color: #990000;
  height: 357px;
  width: 100%;
}

.img_box_destaques_home
{
  width: 100%;
}

#box_destaques_home
{
  overflow: auto;
  height: 357px;
}

#box_destaques_home::-webkit-scrollbar-track
{
  background-color: #F4F4F4;
}

#box_destaques_home::-webkit-scrollbar 
{
  width: 6px;
  background: #F4F4F4;
}

#box_destaques_home::-webkit-scrollbar-thumb 
{
  background: #dad7d7;
}

#box_destaques_home a .titulo_box_destaques_home
{
  font-weight: bold;
  font-size: 11px;
  color: #3d566e;
}

#box_destaques_home a:hover
{
  text-decoration: none;
}

#box_destaques_home a:hover .titulo_box_destaques_home
{
  color: #0099ff;
  text-decoration: none;
}

.data_box_destaques_home
{
  text-align: right;
  font-style: italic;
  font-size: 9px;
  margin-bottom: 0;
}

#container
{
  width: 90%;
  margin: 0 auto;
}

#menu_guia_comercial
{
  background-color: #990000;
  padding: 0;
  margin: 0;
}

#menu_guia_comercial nav
{
  margin: 0;
  padding: 0;
}

.titulo_item_menu
{
  width: 100%;
  background-color: #0099ff;
  color: #fdfdfd;
  font-size: 12px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.item_menu
{
  width: 100%;
  background-color: #3d566e;
  border-left: 3px solid #0099ff;
  border-bottom: 1px solid #3c566f;
}

#menu_guia_comercial nav a .item_menu
{
  color: #0099ff;
  font-size: 12px;
  text-decoration: none;
  font-style: unset;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: uppercase;
}

#menu_guia_comercial nav a:hover
{
  text-decoration: none;
}

#menu_guia_comercial nav a:hover .item_menu
{
  color: #fdfdfd;
  border-left: 3px solid #dedede;
  background-color: #0099ff;
}







/*Media Queries*/
@media only screen and (max-width: 800px) {
  li 
  {
    margin: 0;
    padding: 0;
    display: block;
    border-bottom: 1px solid #FFF;
  }

  li a 
  {
    padding: 0.5em 0 0.5em 0;
    display: block;
    color: #FFF;
  }

  li:last-child 
  {
   border-bottom:none;
  }
}